<a href="https://colab.research.google.com/github/Kavithakaikondan/pythonlearning/blob/main/Day_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# DataTypes - int float str
# int - integer => -inf,...,-1,0,1,...inf
# float - decimal => -0.1, 0.01, 10.3
# str - characters => "a", 'a', "bus", "im in a bus", " ", "#", "@"

In [ ]:
#  Variables

In [ ]:
virat =60
rohit = 30
rahul = 10

In [ ]:
virat+rohit+rahul

100

In [ ]:
x=1
y=2
z=3

In [ ]:
x,y,z = 1,2,3

In [ ]:
a,b = 10,20
c = a+b
c

30

In [ ]:
# prompt: i want to learn about datatypes and variables in python

This section of your code demonstrates the fundamental concepts of data types and variables in Python.

**Data Types:**

Python has several built-in data types. The code you provided highlights three of the most common ones:

*   **`int` (Integer):** Represents whole numbers, positive or negative, without decimal points. Examples from your code include `60`, `30`, `10`, `1`, `2`, `3`, `10`, `20`.
*   **`float` (Floating-point number):** Represents numbers with decimal points. While not explicitly shown with variables in your provided snippet, the comments mention `-0.1`, `0.01`, `10.3` as examples.
*   **`str` (String):** Represents sequences of characters. This can be a single character, a word, a sentence, or even empty spaces and symbols. Strings are enclosed in either single quotes (`'`) or double quotes (`"`). Your comments provide examples like `"a"`, `'a'`, `"bus"`, `"im in a bus"`, `" "`, `"#"` , `"@"`.

**Variables:**

Variables are used to store data values. In Python, you don't need to declare the type of a variable explicitly; the type is determined by the value assigned to it. The assignment operator `=` is used to assign a value to a variable.

In your code:

*   `virat = 60`: Creates a variable named `virat` and assigns the integer value `60` to it.
*   `rohit = 30`: Creates a variable named `rohit` and assigns the integer value `30` to it.
*   `rahul = 10`: Creates a variable named `rahul` and assigns the integer value `10` to it.
*   `virat + rohit + rahul`: This is an expression that adds the values stored in the `virat`, `rohit`, and `rahul` variables. Python will calculate the sum (60 + 30 + 10 = 100).
*   `x = 1`, `y = 2`, `z = 3`: Demonstrates assigning integer values to individual variables.
*   `x, y, z = 1, 2, 3`: This is an example of **multiple assignment**, where you can assign multiple values to multiple variables on a single line.
*   `a, b = 10, 20`: Another example of multiple assignment.
*   `c = a + b`: Creates a variable `c` and assigns the sum of the values in `a` and `b` to it (10 + 20 = 30).
*   `c`: This line will display the current value stored in the variable `c`, which is `30`.

In a Jupyter or Colab notebook, simply typing a variable name on a line by itself will display its value as the output of that cell.

To summarize, your code demonstrates how to assign different types of values (specifically integers in this case) to variables and how to perform simple operations (like addition) using these variables.